/*
Theme Name: BPress
Description: BPress is a magazine child-theme for Beans.
Author: Nguyen Dinh Quan <dinhquan@narga.net>
Author URI: https://www.narga.net/
Template: tm-beans
Version: 1.0.0
Text Domain: tm-beans
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Header
 ========================================================================== */
.tm-header {
    line-height: 60px;
}
.tm-site-branding {
    margin: 16px;
    a {
	font-size: 30px;
	&:active {
	    position: relative;
	    margin-top: -1px;
	}
    }
}

/* color of header links */
.tm-header a, .tm-site-branding a, .tm-primary-menu .menu-item > a {
    color: #fff;
    font-family: @base-heading-font-family;
}

.uk-navbar-nav > li > a {
    height: 60px;
    padding: 10px 20px;
}

/* .uk-navbar-nav > li.uk-open > a this will display as white square when
 * mouseout */
.tm-primary-menu .menu-item > a:hover, .uk-navbar-nav > li.uk-open > a,
.uk-nav-dropdown > li > a:focus, .uk-dropdown-navbar, .uk-navbar-nav > li.uk-active > a {
    background: #0095CC;
    color: #fff;
}

/* Link hover background color */
.uk-nav-dropdown .menu-item > a:hover,
.uk-nav-side .menu-item > a:hover, .tm-primary-menu .uk-button a {
    background: #00a8e6;
}

/* Remove top and bottom margin of submenu */
.uk-dropdown {
    padding: 0 15px;
 line-height: normal;
}

/* Equal and increase padding between items in dropdown submenu */
.uk-nav > li > a {
    padding: 10px 15px;
}

/* Set color of off-canvas menu txt */
a.uk-hidden-large {
    color: #444;
}

/* OffCanvas Menu show up as overlay the page when user touch instead of pushing
 * content away */
.uk-offcanvas-page {
    margin-left: 0 !important; /* Important is necessary since it overwrites CSS added via JS */
}

/* Featured image show up as full-width in grid cards */
article > .tm-article-image:first-child, article header > .tm-article-image:first-child {
    margin: -25px -25px 15px -25px !important;
}

/* Set border radius on featured images */
.tm-article-image {
	display: block;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}

/* post card box shadow, border radius */
.uk-panel-box {
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(38,50,56,.05);
	background: #fff;
	position: relative;
	transition: all .3s ease;
}


.tm-pre-footer {
	background-color: #f5f5f5;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

.tm-secondary-nav {
    text-align: center;
}

.tm-secondary-nav .uk-navbar-nav,
.tm-secondary-nav .uk-navbar-nav > li {
    display: inline-block;
    float: none;
}

/* Recent post with thumbnail title font */
.rpwwt-post-title {
    font-family: @base-heading-font-family;
    font-size:  @base-h4-font-size;
}
