// Variables
@base-heading-font-family: Oswald, Helvetica, Arial, sans-serif;
@base-heading-text-transform: none;

@base-h1-font-size:                             36px;
@base-h1-line-height:                           42px;
@base-h2-font-size:                             30px;
@base-h2-line-height:                           36px;
@base-h3-font-size:                             24px;
@base-h3-line-height:                           30px;
@base-h4-font-size:                             20px;
@base-h4-line-height:                           24px;
@base-h5-font-size:                             18px;
@base-h5-line-height:                           20px;
@base-h6-font-size:                             26px;
@base-h6-line-height:                           18px;
